/*
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
*/

.range-container {
  position: relative;
}

.slider {
  position: relative;
  width: 100%;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 1px;
}

.slider__track {
  background-color: #333;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #333;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #000;
  font-size: 14px;
  margin-top: 20px;
  top: -10px;
}

.slider__left-value {
  left: 0;
}

.slider__right-value {
  right: 0;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
  top: -7px;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

.MuiSlider-root {
  width: 92% !important;
  margin-left: 13px;
}

.MuiSlider-rail {
  background: #E4E4E4;
  border: 4px solid #E4E4E4;
  border-radius: 2.2px !important;
}

.MuiSlider-track {
  background: #FBB03B !important;
  border: 4px solid #FBB03B !important;
}

.MuiSlider-mark {
  margin-top: -6px;
  height: 5px !important;
  background: #E4E4E4 !important;
}

.MuiSlider-mark.MuiSlider-markActive{
  background: #FBB03B !important;
}

.MuiSlider-thumb {
  background: #FBB03B !important;
}

.MuiSlider-thumb.Mui-active {
  box-shadow: none !important;
}

.MuiSlider-valueLabel{
  	font-family: "NeoSB" !important;
  	font-size: 16px !important;
  	color: #000000 !important;
  	background: none !important;
}

.MuiSlider-valueLabelOpen.MuiSlider-valueLabel::before{
    display: none;
}

.MuiSlider-valueLabelOpen.MuiSlider-valueLabel{
    padding: 0;
    margin-top: 10px;
}

/* For Chrome browsers */
/*.thumb::-webkit-slider-thumb {
  background: url("../../assets/images/range-icon.png") no-repeat left top;

  cursor: pointer;
  height: 22px;
  width: 21px;
  pointer-events: all;
  position: relative;
}*/

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
